@import "~src/styles/mixins";

.image-container {
  justify-content: center;

  .image-wrapper {
    padding-bottom: $padding-x-regular;
    flex: 1 0 auto;
  }

  .image-item {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 300px;
    @include border-radius();
  }

  .image-placeholder {
    background-color: $color-grey-dark;
  }
}

@include tablet() {
  .image-container {
    justify-content: space-between;
    margin-bottom: $margin-none;

    .image-wrapper {
      padding-bottom: $base-gutter/2;
    }

    .image-section {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .col {
        width: 50%;
      }
    }
  }
}

@include desktop() {
  .image-container {
    .image-wrapper {
      padding-bottom: $medium-gutter/2;

      &:last-child {
        padding-bottom: $medium-gutter/2;
      }
    }
  }
}

