<div class="row image-container">
  <div class="image-section">
    <div class="col image-wrapper" *ngFor="let image of imageList">
      <img [src]=image.url alt="cat-image"
           [ngClass]="imageLoaded ? 'image-item elevation-1' : 'image-item elevation-1 image-placeholder'"
           (load)="imageOnLoad()"/>
    </div>
  </div>
</div>
