@import "~src/styles/mixins";

.header-container {
  justify-content: space-between;
  display: flex;

  .logo-wrapper,
  .menu-wrapper {
    align-self: center;
  }

  .header-logo {
    max-width: 145px;
    padding-left: $padding-small;
  }
}

@include tablet() {
  .header-container {
    justify-content: initial;
    flex-direction: column;
    align-content: flex-start;

    .logo-wrapper {
      align-self: flex-start;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .header-logo {
      max-width: 160px;
      height: 40px;
      padding-left: $padding-large;
    }

    .menu-wrapper {
      width: 100%;
    }
  }
}
