<div class="header-container elevation-1">
  <div class="logo-wrapper">
    <img src="../../assets/images/swansky_logo.png" class="header-logo" alt="swanky-logo"/>
    <div class="language-wrapper hidden-mobile">
      <app-language-switcher [lang]="'EN'"></app-language-switcher>
    </div>
  </div>
  <div class="menu-wrapper">
    <app-navigation></app-navigation>
  </div>
</div>
