@import "~src/styles/mixins";

.footer-container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  text-align: center;
  padding-top: $padding-small;
  margin-bottom: $margin-none;
  font-size: $font-size-regular;
  @include border-radius();

  .information-item {
    padding: $padding-small;
  }

  .copyright {
    padding: $padding-regular;
  }
}

@include tablet() {
  .footer-container {
    justify-content: flex-start;
    padding-top: $padding-none;

    .information-item,
    .copyright-text {
      padding: $padding-small;
    }

    .information-wrapper {
      display: flex;
    }

    .footer-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
