<div class="row footer-container elevation-1">
  <div class="col footer-content">
    <ul class="information-wrapper">
      <li class="information-item">FAQ</li>
      <li class="information-item">Terms and Conditions</li>
    </ul>
    <div class="copyright">
      <span class="copyright-text">Copyright Black Swan Avionics {{currentYear}}</span>
    </div>
  </div>
</div>
