<div class="row info-text-container">
  <p class="col info-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut tincidunt ante. Maecenas vitae ante at quam
    pretium fermentum eget placerat augue. Curabitur at tortor vehicula, molestie neque ut, dictum leo. Aenean mi magna,
    fermentum nec sapien et, lacinia laoreet sapien. Aliquam sed odio nec massa fermentum faucibus et sit amet quam.
    Donec tempor libero ut porttitor commodo. Quisque aliquet risus ut tempus cursus. Etiam et dictum odio. Etiam
    vestibulum, lectus non lobortis rhoncus, felis ante imperdiet lorem, id pulvinar felis ante id turpis. Integer id
    dictum lacus. Nam nec consequat mauris. Nam condimentum lectus est, at laoreet neque convallis eget.
  </p>
</div>
