@import "~src/styles/mixins";

.info-text-container {
  justify-content: center;
  color: $color-text-light;
  padding-bottom: $padding-xl-large;

  .info-text {
    width: 100%;
  }
}

@include tablet() {
  .info-text-container {
    .info-text {
      width: 80%;
      flex: none;
    }
  }
}
