//TYPOGRAPHY
$roboto-font-path: "/assets/fonts/Roboto-Regular.ttf";
$font-family-main: 'Roboto';
$font-family: $font-family-main, 'sans-serif';

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-large: 600;

$font-size-small: 14px;
$font-size-regular: 16px;
$font-size-large: 18px;
$font-size-x-large: 20px;

//COLORS
$color-white: #fff;
$color-grey-xl-light: #f0f0f0;
$color-grey-x-light: #f8f8f8;
$color-grey-light: #fafafa;
$color-grey-dark: #cccccc;
$color-blue: #175482;
$color-primary: #333;
$color-text-light: #4b4b4b;
$color-text-medium: #333;
$color-text: #000;
$color-black: #000;
$color-active-link: #007ef4;

$opacity-light: .2;
$opacity-regular: .5;
$opacity-high: .75;

//BREAKPOINTS
$phone-width: 576px;
$tablet-width: 768px;
$desktop-width: 1024px;

//RADIUS
$radius-small: 5px;

//SPACING
$padding-none: 0;
$padding-x-small: 5px;
$padding-small: 10px;
$padding-regular: 20px;
$padding-x-regular: 25px;
$padding-large: 30px;
$padding-x-large: 60px;
$padding-xl-large: 120px;

$margin-none: 0;
$margin-x-small: 5px;
$margin-small: 10px;
$margin-regular: 20px;
$margin-x-regular: 25px;
$margin-large: 30px;
$margin--x-large: 60px;

//GUTTER
$small-gutter: 10px;
$base-gutter: 30px;
$medium-gutter: 40px;
$large-gutter: 80px;
