@import "~src/styles/mixins";

.banner-container {
  padding-top: $padding-large;
  padding-bottom: $padding-regular;
  justify-content: center;

  .banner-placeholder {
    background-color: $color-grey-xl-light;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include border-radius();
  }

  .placeholder-value {
    font-weight: bold;
  }
}

@include tablet() {
  .banner-container {
    padding-top: $base-gutter/2;
    padding-bottom: $padding-none;
    margin-bottom: $margin-none;

    .banner {
      &.col {
        max-width: 728px;
        padding-bottom: $base-gutter/2;
      }
    }

    .banner-placeholder {
      height: 90px;
    }

    .placeholder-value {
      font-size: $font-size-large;
    }
  }
}

@include desktop() {
  .banner-container {
    padding-top: $medium-gutter/2;

    .banner {
      &.col {
        padding-bottom: $medium-gutter/2;
      }
    }
  }
}
