<div class="row banner-container">
  <div class="col banner">
    <div class="banner-placeholder elevation-1">
      <span class="placeholder-value visible-mobile">300x50</span>
      <span class="placeholder-value hidden-mobile">728x90</span>
    </div>
  </div>
</div>
