@import "~src/styles/variables";
@import "~src/styles/mixins";

.router-content {
  @include gradient($color-grey-dark, $color-white, 'vertical');
  padding: 0 $small-gutter/2;
}

@include tablet() {
  .router-content {
    padding: 0 $base-gutter/2;
  }
}

@include desktop() {
  .router-content {
    padding: 0 $medium-gutter/2;
  }
}
