<div class="row posts-container">
  <div class="col posts" *ngFor="let post of posts">
    <div class="posts-wrapper">
      <h2 class="post-title">{{post.title}}</h2>
      <p class="post-content">{{post.content}}</p>
    </div>
  </div>
</div>
