@import "~src/styles/mixins";

.posts-container {
  justify-content: center;

  .posts {
    margin-bottom: $margin-x-regular;
  }

  .posts-wrapper {
    color: $color-text;
    padding: $padding-regular;
    background-color: $color-white;
    @include border-radius();
    @include box-shadow();

    .post-title {
      font-size: $font-size-x-large;
      padding-bottom: $padding-small;
    }
  }
}

@include tablet() {
  .posts-container {
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: $margin-none;

    .posts {
      margin-bottom: 0;

      &.col {
        width: 33%;
      }
    }

    .posts-wrapper {
      height: 100%;
    }
  }
}
