@import "~src/styles/mixins";

.menu-container {
  padding: $padding-x-small;
  background-color: $color-blue;

  .navigation-menu {
    width: 30px;
    height: 30px;
  }

  .overlay {
    position: fixed;
    background: $color-black;
    opacity: $opacity-regular;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }
}

.menu-list-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 70%;
  background-color: $color-blue;
  padding: $padding-regular;
  color: $color-white;

  &.visible-mobile {
    z-index: 5;
  }

  .active {
    font-weight: bold;
  }

  .menu-list {
    padding-top: $padding-large;
  }

  .menu-list-item {
    font-size: $font-size-large;
    padding: $padding-small $padding-none;
  }

  .menu-list-wrapper {
    position: relative;

    .close {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }

  .close-icon {
    width: 24px;
    height: 24px;
  }
}

@include tablet() {
  .menu-list-container {
    position: relative;
    width: 100%;
    top: initial;
    right: initial;
    bottom: initial;
    height: initial;
    padding: $padding-none;
    background-color: $color-grey-x-light;

    .menu-list {
      display: flex;
      justify-content: space-evenly;
      padding: $padding-none;
    }

    .active {
      font-weight: normal;
      color: $color-active-link;
    }

    .menu-list-item {
      color: $color-text-medium;
      font-size: $font-size-regular;
    }
  }
}
