<div class="menu-container visible-mobile" (click)="toggle = !toggle">
  <img src="../assets/icon/hamburger-menu.png" alt="menu-hamburger" class="navigation-menu"/>
  <div class="overlay" *ngIf="toggle"></div>
</div>

<div class="menu-list-container visible-mobile" *ngIf="toggle">
  <div class="menu-list-wrapper">
    <div class="close" (click)="toggle = !toggle">
      <img src="../assets/icon/close.png" alt="close" class="close-icon"/>
    </div>
    <ul class="menu-list">
      <li class="menu-list-item" *ngFor="let link of menuList">
        <a routerLink="{{link.url}}"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }"
           class="navigation-button">{{link.name}}
        </a>
      </li>
    </ul>

    <app-language-switcher [lang]="'EN'"></app-language-switcher>
  </div>
</div>

<div class="menu-list-container hidden-mobile">
  <div class="menu-list-wrapper">
    <ul class="menu-list">
      <li class="menu-list-item" *ngFor="let link of menuList">
        <a routerLink="{{link.url}}"
           routerLinkActive="active"
           class="navigation-button">{{link.name}}
        </a>
      </li>
    </ul>
  </div>
</div>
