@import "~src/styles/reset";
@import "~src/styles/variables";
@import "~src/styles/mixins";

@font-face {
  font-family: $font-family-main;
  src: url($roboto-font-path) format('opentype');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
  box-sizing: border-box;
}

.row {
  display: block;
  margin: 0 0 $small-gutter/2 0;

  .col {
    padding: $small-gutter/2;
    flex: 1;
  }
}

.elevation-1 {
  @include box-shadow();
}

.visible-mobile {
  @include tablet() {
    display: none;
  }
}

.hidden-mobile {
  @include phone() {
    display: none;
  }
}

body {
  position: relative;
  font-family: $font-family;
  color: $color-text-medium;
  font-size: $font-size-small;
  background-repeat: no-repeat;
  min-height: 100%;
  padding-bottom: $padding-xl-large;
}

@include tablet-only() {
  .row {
    display: flex;
    margin: 0 0 $base-gutter/2 0;

    .col {
      padding: $base-gutter/2;
      flex: 1;
    }
  }
 }

@include desktop() {
  .row {
    display: flex;
    margin: 0 0 $medium-gutter/2 0;

    .col {
      padding: $medium-gutter/2;
      flex: 1;
    }
  }
}
