@import "~src/styles/mixins";

.language-switcher-container {
  background-color: $color-white;
  display: inline-block;
  color: $color-text;
  padding: $padding-small;
  margin-top: $margin-small;
  @include border-radius();

  .lang-flag,
  .lang-type {
    display: inline-block;
    vertical-align: middle;
  }

  .lang-type {
    padding-left: $padding-small;

    &:after {
      display: inline-block;
      content: '';
      background: url("/assets/icon/dropdown-arrow.png") no-repeat;
      width: 13px;
      height: 8px;
      margin-left: $margin-small;
    }
  }
}
